@use "../abstract/mixins";
@use "../abstract/variables" as var;

.mobileBtn {
  cursor: pointer;
}

.mobile_navigation {
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(var.$red, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: -100px 0px 70px 1000px rgba(#000, 0.4);

  &_top {
    @include mixins.flexbox(space-between, center);
    margin-bottom: 50px;

    i {
      color: var.$white;
      cursor: pointer;
    }
  }

  ol {
    @include mixins.flexbox(space-between, center);
    flex-direction: column;
    gap: 10px;

    a {
      color: var.$white;
      font-size: 22px;
      font-weight: 500;
    }

    li {
      cursor: pointer;
      @include mixins.flexbox(center, center);
      width: 100%;
      height: 50px;

      &:hover {
        background-color: rgba(var.$white, 0.2);
      }
    }
  }
}
